<section class="pt-32">
    <h1 class="mb-4 mt-5 text-3xl text-center font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
      <span class="text-transparent font-semibold bg-clip-text bg-gradient-to-r to-green-300 from-green-400">
        {{'Forget Password' | translate}}
      </span>
    </h1>
  
    <div class="container mx-auto w-9/12 dark:bg-gray-900">
      @if (step() == 0) {
        <form [formGroup]="forgetPassword" (ngSubmit)="loginSubmit1()">
          <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'Email' | translate}}</label>
            <input formControlName="email" type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="{{'Email' | translate}}.." />
            
            @if (forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched) {
              @if (forgetPassword.get('email')?.getError('required')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Email' | translate}} </span>{{'is Required' | translate}} !
                </div>
              }
              @else if (forgetPassword.get('email')?.getError('email')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Please' | translate}} !</span> {{'enter valid email' | translate}}
                </div>
              }
            }
          </div>  
         
          <button [disabled]="forgetPassword.invalid" type="submit" class="text-white p-3 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-300">
            {{'Submit' | translate}}
            @if (isLoading()) {
              <i class="fa-solid fa-spinner fa-spin"></i>
            }
          </button>
        </form>
      }
      
      @else if (step() == 1) {
        <form [formGroup]="resetCode" (ngSubmit)="loginSubmit2()">
          <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'Reset Code' | translate}}</label>
            <input formControlName="resetCode" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="{{'Reset Code' | translate}}.." />
            
            @if (resetCode.get('resetCode')?.errors && resetCode.get('resetCode')?.touched) {
              @if (resetCode.get('resetCode')?.getError('required')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Reset Code' | translate}} </span>{{'is Required' | translate}} !
                </div>
              }
              @else if (resetCode.get('resetCode')?.getError('maxlength')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Reset Code' | translate}} !</span> {{'max length is 6 digits' | translate}}
                </div>
              }
            }
          </div>  
         
          <button [disabled]="resetCode.invalid" type="submit" class="text-white p-3 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-300">
            {{'Submit' | translate}}
            @if (isLoading()) {
              <i class="fa-solid fa-spinner fa-spin"></i>
            }
          </button>
        </form>
      }
      
      @else {
        <form [formGroup]="resetPassword" (ngSubmit)="loginSubmit3()">
          <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'Email' | translate}}</label>
            <input formControlName="email" type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="{{'Email' | translate}}.." />
            
            @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {
              @if (resetPassword.get('email')?.getError('required')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Email' | translate}} </span>{{'is Required' | translate}} !
                </div>
              }
              @else if (resetPassword.get('email')?.getError('email')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Please' | translate}} !</span> {{'enter valid email' | translate}}
                </div>
              }
            }
          </div> 
          
          <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'newPassword' | translate}}</label>
            <input formControlName="newPassword" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="{{'Password' | translate}}.." />
            
            @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
              @if (resetPassword.get('newPassword')?.getError('required')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Password' | translate}} </span>{{'is Required' | translate}} !
                </div>
              }
              @if (resetPassword.get('newPassword')?.getError('pattern')) {
                <div class="p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <span class="font-medium">{{'Password must start with uppercase and be 6-10 characters' | translate}}</span>
                </div>
              }
            }
          </div>
         
          <button [disabled]="resetPassword.invalid" type="submit" class="text-white p-3 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-300">
            {{'Submit' | translate}}
            @if (isLoading()) {
              <i class="fa-solid fa-spinner fa-spin"></i>
            }
          </button>
        </form>
      }
    </div>
  </section>