<style>
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&family=Fustat:wght@500&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.el-messiri-uniquifier {
  font-family: "El Messiri", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
</style>
<div>
  <app-navbar></app-navbar>
</div>
<div class="mx-auto min-h-[100vh] dark:bg-gray-900 ">
  <router-outlet></router-outlet>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmFubzJnZzhvdGtnZXQ1dHdqdnlkYml6OWhrNTNxZ3hicndteXVvMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/VaykE3Cu7xt6OoAXIY/giphy.gif' />">
</ngx-spinner>

<!-- <div>
  <button style="top: 92%;"
    class="fixed top-0 end-7 z-50 bg-transparent transition-transform hover:scale-125 align-middle dark:bg-gray-900"
    (click)="darkMode.set(!darkMode())">
    @if (!darkMode()) {
    <span class="material-icons text-gray-900"><i class="fa-solid fa-moon"></i></span>
    }
    @if (darkMode()) {
    <span class="material-icons text-gray-900 dark:text-white "><i class="fa-solid fa-sun"></i></span>
    }
  </button>
</div> -->
<app-footer></app-footer>